.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(7, 80px);
  grid-template-rows: repeat(8, 80px);
  gap: 0px;
}

.game {
  display: flex;
  justify-content: center;
}

.wall {
  background-image: url('assets/wall.png');
  background-size: contain;
}